@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap");

.what-container {
  background-color: #fdebd2;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: thin;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.what-container h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.what-container h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.what-container p {
  padding: 1rem 2rem;
  font-size: 1rem;
  // font-weight: thin;
  line-height: 1.5rem;
}

.what-reasons {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

.footer-container {
  background-color: #2f466c;
  font-family: "Roboto", sans-serif;
  padding: 2rem;
  color: white;
  display: grid;
  -ms-grid-columns: 25% 25% 25% auto;
  grid-template-columns: 25% 25% 25% auto;
  font-size: 1.25rem;
}

.footer-col,
.footer-list-container,
.help-container {
  display: flex;
  flex-direction: column;
}

.footer-col {
  // margin-top: 1.25vh;
  h1 {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p,
  a {
    margin-top: 0.75rem;
    color: white;
    font-size: 1rem;
    font-weight: 300;
  }
}

.social-links {
  margin-top: 2rem;
  img {
    height: auto;
    width: 15%;
  }

  img:hover {
    transform: scale(1.1);
    transition: 250ms ease-in-out;
  }
}
