@import url("https://fonts.googleapis.com/css2?family=Besley&display=swap");

.header-top {
  padding: 2rem 3.5rem;
  display: flex;
  align-items: center;
}

.header-logo {
  font-size: 2em;
  color: #eb6d20;
  font-family: "Besley", serif;
}

.header-search-bar {
  display: flex;
  flex: 1;
  align-items: center;
  border: thin solid black;
  padding: 0.5em;
  border-radius: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

.header-search-icon {
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 0 24px 24px 0;
}

.header-search-input {
  width: 100%;
  border: none;
  border-radius: 24px;
}

.header-cart {
  display: flex;
  align-items: center;
  padding: 2vh;
  border-radius: 50%;
}

.exit-app-icon {
  cursor: pointer;
  position: relative;
  left: 0;
  top: 8px;

  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.signOutButton {
  margin-left: 0.65rem;
}

.sign-in-container {
  padding: 0.2rem 1rem 0 1rem;
  height: 1.5rem;
}

.sign-in-container:hover {
  background-color: lightgray;
  border-radius: 2rem;
}

.signInButton {
  cursor: pointer;
  text-decoration: none;
  border: none;
  // background-color: white;
  font-size: 0.75rem;
  padding: 0;
}

.header-sign-in {
  color: black;
  font-size: 1em;
}

.header-sign-in,
.header-cart {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

// .hover-drop-down:hover {
//   text-align: center;
//   width: 5rem;
//   height: 3rem;
//   border-radius: 45%;
//   background-color: lightgrey;
// }

.name-drop-arrow {
  display: flex;
  // border: thin solid lightgray;
  padding: 2vh 0;
  border-radius: 50%;
}

.name-drop-arrow:hover,
.header-cart:hover {
  background-color: lightgray;
  transition: 250ms ease-in-out;
  cursor: pointer;
}

.drop-down-arrow {
  color: gray;
}

.orange-circle {
  width: 1.75rem;
  height: 1.75rem;
  text-align: center;
  border-radius: 50%;
  background-color: #eb6d20;
  margin-left: 1rem;

  h2 {
    padding-top: 0.4rem;
    color: white;
  }
}

.header-bottom {
  width: 100%;
  // margin-top: 0.5em;
  // margin-bottom: 1em;
}

.dropDownContainer {
  background-color: white;
  position: absolute;
  width: 100px;
  // height: 100px;
  padding: 1rem;
  border: thin solid grey;
  border-radius: 0.75rem;
  z-index: 7;
  text-align: left;

  top: 6rem;
  right: 10rem;
  // left: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

// .dropDownContainer:before {
//   content: "";
//   position: absolute;
//   border-color: grey;
//   border: solid transparent;
//   border-bottom-color: white;
//   border-width: 11px;
//   margin-left: -10px;
//   top: -21px;
//   // right: 65px;
//   right: 1rem;
//   z-index: 1;
// }

// .drop-down-menu:after {
//   content: "";
//   position: absolute;
//   right: 66px;
//   top: -21px;
//   width: 0;
//   height: 0;
//   border: solid transparent;
//   border-width: 10px;
//   border-bottom-color: #2b1a41;
//   z-index: 0;
// }

.drop-down-circle {
  width: 1.65rem;
  height: 1.65rem;
  text-align: center;
  border-radius: 50%;
  background-color: #eb6d20;

  h3 {
    padding-top: 0.4rem;
    color: white;
  }
}

.full-name {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.85rem;
}

.dropDownName {
  display: flex;
}

.dropDownClick,
.drop-down-arrow {
  cursor: pointer;
}

.dropDownBtn,
.signOutButton {
  font-family: "Martel";
  font-size: 0.85rem;
  cursor: pointer;
}

.category-items {
  margin-bottom: 1rem;
  padding: 0rem 4rem;
  display: flex;
  justify-content: space-evenly;

  li a {
    font-family: "Graphik Webfont", "Helvetica Neue", "Droid Sans", Arial,
      sans-serif;
    font-weight: 400;
    color: black;
    font-size: 0.75rem;
  }
}
