@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

.header-top {
  padding: 2rem 3.5rem;
  display: flex;
  // flex: 1;
  align-items: center;
}

.header-logo {
  padding-right: 1rem;
  font-size: 2em;
  color: #eb6d20;
  font-family: "Besley", serif;
}

.header-cart {
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.exit-app-icon {
  cursor: pointer;
  position: relative;
  left: 0;
  top: 8px;

  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sign-out-button {
  margin-left: 0.65rem;
}

.sign-in-container {
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  // border: thin solid black;
  // height: 1.5rem;
}

.sign-in-container:hover {
  background-color: lightgray;
  border-radius: 2rem;
  transition: 250ms ease-in-out;
}

.sign-in-button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  // background-color: white;
  width: 100%;
  font-size: 1rem;
  padding: 0;
}

.header-sign-in {
  color: black;
  font-size: 1rem;
}

.header-sign-in {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.name-drop-arrow {
  display: flex;
  // border: thin solid lightgray;
  justify-content: center;
  padding: 1rem 0;
  border-radius: 50%;
}

.name-drop-arrow:hover,
.header-cart:hover {
  background-color: lightgray;
  transition: 250ms ease-in-out;
  // transition: all 0.4s;
  cursor: pointer;
}

.drop-down-arrow {
  color: gray;
}

.orange-circle {
  width: 1.75rem;
  height: 1.75rem;
  text-align: center;
  border-radius: 50%;
  background-color: #eb6d20;
  margin-left: 1rem;

  h2 {
    padding-top: 0.4rem;
    color: white;
  }
}

.header-bottom {
  width: 100%;
  // margin-top: 0.5em;
  // margin-bottom: 1em;
}

.drop-down-container {
  background-color: white;
  position: absolute;
  width: 100px;
  // height: 100px;
  padding: 1rem;
  border: thin solid grey;
  border-radius: 0.75rem;
  z-index: 7;
  text-align: left;

  top: 6rem;
  right: 7rem;
  // left: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.drop-down-circle {
  width: 1.65rem;
  height: 1.65rem;
  text-align: center;
  border-radius: 50%;
  background-color: #eb6d20;

  h3 {
    padding-top: 0.4rem;
    color: white;
  }
}

.full-name {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.85rem;
}

.drop-down-name {
  display: flex;
}

.drop-down-click,
.drop-down-arrow {
  cursor: pointer;
}

.drop-down-btn,
.sign-out-button {
  font-family: "Martel";
  font-size: 0.85rem;
  cursor: pointer;
}

.category-items {
  margin-bottom: 1rem;
  padding: 0rem 4rem;
  display: flex;
  justify-content: space-evenly;

  li a {
    font-family: "Graphik Webfont", "Helvetica Neue", "Droid Sans", Arial,
      sans-serif;
    font-weight: 400;
    color: black;
    font-size: 0.75rem;
  }
}
