@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap");

.product-page-container {
  padding: 2rem;
  border-top: thin solid lightgrey;
  font-family: "Roboto", sans-serif;

  display: grid;
  grid-template-columns: 1fr;
  // gap: 2rem;
}

.product-show-image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

// .product-reviews-container {
//   grid-row: 3;
// }

.margin-bottom {
  margin-bottom: 1rem;
}

.product-right {
  position: relative;
}

/**************************/
/* RIGHT SHOW PAGE */
/**************************/

.product-seller {
  font-size: 1rem;
}

.product-title {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25;
}

.stock-price,
.stock-container,
.stock-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.product-quantity-container {
  font-size: 1rem;
  .quantity {
    margin-bottom: 5px;
  }

  select {
    cursor: pointer;
    width: 100%;
    height: 2rem;
    border-radius: 3px;
    box-shadow: 0 1px 6px 0 lightgrey;
    font-size: 1rem;
  }
}

.add-item-button {
  border-radius: 2rem;
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  color: white;
  background-color: black;
}

.hot-item-container,
.shipping-container {
  display: flex;
  margin-top: 1rem;

  p {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-left: 1rem;
    line-height: 1.25;
  }
}

.hot-item-cart,
.shipping-truck {
  display: flex;
  align-items: center;
}

.description-container {
  height: 2rem;
  font-size: 1rem;
  width: 105%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  margin-bottom: 1rem;
  // line-height: 1.5rem;

  position: relative;
  left: -10px;
}

.product-description-text {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-weight: bold;
  }
}

.description {
  font-size: 1rem;
  line-height: 1.25;

  h2 {
    font-weight: 700;
    margin-bottom: 10px;
  }

  ul li {
    margin-left: 1.2rem;
    list-style-type: disc;
  }
}

.product-description {
  max-height: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  content: "";
  background: -webkit-linear-gradient(#000, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.show-option-container {
  margin: 2rem auto;
  text-align: center;

  // width: max-content;
  // border: thin solid black;

  .show-desc {
    font-size: 1rem;
  }
}

.show-option-container.more {
  padding-left: 3rem;
  padding-right: 3rem;
  // border: thin solid black;
}

.show-option-container.less {
  padding-left: 9rem;
  padding-right: 9rem;
  border: thin solid transparent;
}

/**************************/
/* LEFT PAGE */
/**************************/

.reviews-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.review-margin-bottom {
  margin-bottom: 1rem;
}

.total-reviews {
  font-size: 1rem;
  font-weight: 300;
}

.reviews-header {
  font-size: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid lightgrey;
}

.reviews-list {
  font-size: 1rem;
}

.reviewers {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 20% auto;

  h1 {
    position: relative;
    top: 10px;
  }
}

/**************************/
/* ADD REVIEW SECTION */
/**************************/

.review-form {
  line-height: 1.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem 0;
}

.add-btn-container {
  display: flex;
  justify-content: center;
}

.add-review-btn,
.cancel-review-btn {
  margin: 1rem;
  border: thin solid black;
  width: 10rem;
  height: 2rem;
  border-radius: 2rem;
  color: white;
  background-color: black;
}

.edit-delete-buttons {
  display: grid;
  grid-template-columns: 10% auto;
}

.delete-review-btn,
.edit-review-btn {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 100;
}

.star-radio {
  display: none;
}

/**************************/
/* REVIEW EDIT PAGE */
/**************************/

.review-edit-form {
  border-top: thin solid lightgray;
  padding: 4rem;
  display: grid;
  grid-template-columns: 45% 50%;
  column-gap: 3rem;
  margin-bottom: 7rem;
  align-items: center;
  // justify-content: center;

  .edit-product-form {
    text-align: center;
  }

  h1 {
    font-family: "Roboto", sans-serif;
    margin-top: 2rem;
    font-size: 1rem;
  }

  textarea {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  }
}

.edit-product-review {
  img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }

  div {
    margin-top: 2rem;
    text-align: left;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 1rem;

    span {
      font-weight: 800;
    }
  }
}

.edit-star-rating {
  margin: 1rem 0;
}

.editing-button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 1.5rem 1rem 0 1rem;
  width: 10rem;
  height: 2rem;
  border-radius: 2rem;
  color: white;
  background-color: black;
}
