@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
.product-page-container {
  display: grid;
  grid-template-columns: 60% auto;
  border-top: thin solid lightgrey;
  font-family: "Roboto", sans-serif;
  padding: 3vh 10vw;

  //   border: thin solid black;
}

.product-description,
.description-container,
.cart-shipping-container,
.stock-price,
.product-quantity-container,
.product-header-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

// left-side styling:

.product-show-image {
  border-radius: 0.75rem;
  height: auto;
  width: 90%;
}

// right side styling:

.product-header-container {
  margin-top: 2vh;
}

.product-seller {
  font-size: 1.1vw;
  margin-bottom: 1vh;
}

.product-title {
  font-size: 3vh;
  line-height: 4vh;
  font-weight: 200;
}

.stock-price {
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
}

.stock-container {
  display: flex;
}

.stock-check {
  position: relative;
  bottom: 0.2vh;
  right: 0.5vw;
}

.in-stock {
  font-size: 1.1vw;
  font-weight: 100;
}

.product-show-price {
  display: flex;
  font-size: 1.1vw;
  font-weight: medium;
}

.price-plus {
  font-size: 1.1rem;
  position: relative;
  bottom: 0.1rem;
}

.product-quantity-container {
  margin-top: 4vh;
}

.quantity {
  font-size: 1.1vw;
  font-weight: 100;
}

.quantity-dropdown {
  margin-top: 1.5vh;

  select {
    width: 100%;
    height: 2rem;
    border-radius: 3px;
    box-shadow: 0 1px 6px 0 lightgrey;
    font-size: 2vh;
  }
}

.product-show-button {
  margin-top: 4vh;
}

.add-item-button {
  border-radius: 2rem;
  width: 100%;
  height: 5vh;
  font-size: 2vh;
  cursor: pointer;
  color: white;
  background-color: black;
}

.add-item-button:hover {
  transform: scale(1.05);
  transition: 100ms ease-in-out;
}

.cart-shipping-container {
  margin-top: 4vh;
}

.hot-item-container,
.shipping-container {
  display: flex;
  margin-top: 2vh;

  p {
    font-size: 2vh;
    margin-left: 1rem;
    // padding-top: 0.5rem;
    line-height: 2.5vh;
  }

  span {
    font-weight: bold;
  }
}

.description-container {
  margin-top: 1.5rem;
  height: 1.5rem;
  font-size: 2vh;
  // line-height: 1.5rem;
  // border: thin solid black;
  padding-top: 1vh;
  // padding-bottom: 0.5vh;
}

.description-container:hover {
  border-radius: 2rem;
  background-color: lightgray;
  transition: 250ms ease-in-out;
}

.product-description-text {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-weight: bold;
  }
}

.product-description {
  margin-top: 3vh;
  line-height: 3vh;
  font-size: 2vh;
  max-height: 12vh;
  overflow: hidden;
  text-overflow: ellipsis;
  content: "";
  background: -webkit-linear-gradient(#000, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.show-option-container {
  margin-top: 4vh;
  text-align: center;

  .show-desc {
    font-size: 2vh;
    padding-top: 0.75vh;
  }
}

.show-option-button:hover {
  cursor: pointer;
  border-radius: 2rem;
  height: 3.5vh;
  background-color: lightgray;
  transition: 250ms ease-in-out;
}

// .product-description.show-all {
//   max-height: 100%;
//   -webkit-text-fill-color: none;
// }

.show-all {
  margin-top: 3vh;
  line-height: 3vh;
  font-size: 2vh;
  margin-left: 1.16vw;
}
