@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap");

.product-page-container {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 55% auto;
  margin-left: 4rem;
  margin-right: 8rem;
  margin-bottom: 10rem;
  gap: 4rem;
}

.product-show-image {
  border-radius: 9px;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.product-right {
  position: relative;
}

/**************************/
/* RIGHT SHOW PAGE */
/**************************/

.product-seller {
  font-size: 1.25rem;
}

.product-title {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.25;
}

.stock-price,
.stock-container,
.stock-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
}

.product-quantity-container {
  font-size: 1rem;
  .quantity {
    margin-bottom: 5px;
  }

  select {
    cursor: pointer;
    width: 100%;
    height: 2rem;
    border-radius: 3px;
    box-shadow: 0 1px 6px 0 lightgrey;
    font-size: 1.25rem;
  }
}

.add-item-button {
  border-radius: 2rem;
  width: 100%;
  height: 2.5rem;
  font-size: 1.25rem;
  color: white;
  background-color: black;
}

.add-item-button:hover {
  transform: scale(1.05);
  transition: 100ms ease-in-out;
}

// .quantity-dropdown {

// }

// .product-page-container {
//   display: grid;
//   grid-template-columns: 60% auto;
//   border-top: thin solid lightgrey;
//   font-family: "Roboto", sans-serif;
//   padding: 3vh 10vw;

//   //   border: thin solid black;
// }

// .product-description,
// .description-container,
// .cart-shipping-container,
// .stock-price,
// .product-quantity-container,
// .product-header-container {
//   padding-left: 1rem;
//   padding-right: 1rem;
// }

// // left-side styling:

// .product-show-image {
//   border-radius: 0.75rem;
//   height: auto;
//   width: 90%;
// }

// // right side styling:

// .product-header-container {
//   margin-top: 2vh;
// }

// .product-seller {
//   font-size: 1.1vw;
//   margin-bottom: 1vh;
// }

// .product-title {
//   font-size: 3vh;
//   line-height: 4vh;
//   font-weight: 200;
// }

// .stock-price {
//   display: flex;
//   justify-content: space-between;
//   margin-top: 4vh;
// }

// .stock-container {
//   display: flex;
// }

// .stock-check {
//   position: relative;
//   bottom: 0.2vh;
//   right: 0.5vw;
// }

// .in-stock {
//   font-size: 1.1vw;
//   font-weight: 100;
// }

// .product-show-price {
//   display: flex;
//   font-size: 1.1vw;
//   font-weight: medium;
// }

// .price-plus {
//   font-size: 1.1rem;
//   position: relative;
//   bottom: 0.1rem;
// }

// .product-quantity-container {
//   margin-top: 4vh;
// }

// .quantity {
//   font-size: 1.1vw;
//   font-weight: 100;
// }

// .quantity-dropdown {
//   margin-top: 1.5vh;

//   select {
//     cursor: pointer;
//     width: 100%;
//     height: 2rem;
//     border-radius: 3px;
//     box-shadow: 0 1px 6px 0 lightgrey;
//     font-size: 2vh;
//   }
// }

// .product-show-button {
//   margin-top: 4vh;
// }

// .add-item-button {
//   border-radius: 2rem;
//   width: 100%;
//   height: 5vh;
//   font-size: 2vh;
//   cursor: pointer;
//   color: white;
//   background-color: black;
// }

// .add-item-button:hover {
//   transform: scale(1.05);
//   transition: 100ms ease-in-out;
// }

// .cart-shipping-container {
//   margin-top: 4vh;
// }

.hot-item-container,
.shipping-container {
  display: flex;
  margin-top: 1rem;

  p {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-left: 1rem;
    line-height: 1.25;
  }
}

.hot-item-cart,
.shipping-truck {
  display: flex;
  align-items: center;
}

.description-container {
  height: 2rem;
  font-size: 1.25rem;
  width: 105%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  margin-bottom: 1rem;
  // line-height: 1.5rem;

  position: relative;
  left: -10px;
}

.description-container:hover {
  border-radius: 2rem;
  background-color: lightgray;
  transition: 250ms ease-in-out;
}

.product-description-text {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-weight: bold;
  }
}

.description {
  font-size: 1.25rem;
  line-height: 1.25;

  h2 {
    font-weight: 700;
    margin-bottom: 10px;
  }

  ul li {
    margin-left: 1.2rem;
    list-style-type: disc;
  }
}

.product-description {
  max-height: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  content: "";
  background: -webkit-linear-gradient(#000, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.show-option-container {
  margin-top: 2rem;
  text-align: center;

  .show-desc {
    // border: thin solid black;
    font-size: 1.25rem;
    padding-top: 1vh;
  }
}

.show-option-button {
  height: 2.5rem;
}

.show-option-container.more {
  padding: 0 5rem;
}

.show-option-container.less {
  padding: 0 13rem;
}

.show-option-button:hover {
  border-radius: 2rem;
  background-color: lightgray;
  transition: 250ms ease-in-out;
}
