@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

.reviews-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.total-reviews {
  font-size: 1.5rem;
  font-weight: 100;
}

.reviews-header {
  // border: thin solid black;
  padding-bottom: 0.5rem;
  margin: 1rem 0;
  border-bottom: thin solid lightgrey;
}

.reviews-list {
  font-size: 0.85rem;
  font-weight: 100;
}

.reviewers {
  margin-top: 0.75rem;
  display: grid;
  grid-template-columns: 10% auto;

  h1 {
    // border: thin solid black;
    position: relative;
    top: 10px;
  }
}

.review-form {
  // border: thin solid gray;
  line-height: 1.5rem;
  font-size: 0.95rem;
  font-weight: 150;
  border-radius: 1rem;
  // height: 8rem;
  text-align: center;
  padding: 1rem 0;
}

.add-review-btn,
.cancel-review-btn {
  margin: 1vh 1vw;
  border: thin solid black;
  cursor: pointer;
  width: 10rem;
  height: 2rem;
  border-radius: 2rem;
  color: white;
  background-color: black;
}

.edit-delete-buttons {
  display: grid;
  grid-template-columns: 10% auto;
}

.delete-review-btn,
.edit-review-btn {
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: 100;
}

.star-radio {
  display: none;
}

.review-edit-form {
  border-top: thin solid lightgray;
  padding: 4vw;
  display: grid;
  grid-template-columns: 45% 50%;
  column-gap: 3vw;
  justify-content: center;

  .edit-product-form {
    text-align: center;
  }

  h1 {
    margin-top: 1.75vh;
    font-size: 2vh;
    font-family: "Martel", sans-serif;
  }

  textarea {
    font-size: 1.75vh;
    font-family: "Martel", sans-serif;
  }
}

.edit-product-review {
  img {
    width: 40vw;
    height: 40vh;
    border-radius: 1rem;
  }

  div {
    margin-top: 2vh;
    text-align: left;
  }

  p {
    font-family: "Martel", sans-serif;
    // border: thin solid black;
    font-size: 2vh;
    line-height: 4vh;
  }
}

.edit-star-rating {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.edit-review-submit-button {
  margin-top: 2vh;
  border: thin solid black;
  cursor: pointer;
  width: 10rem;
  height: 2rem;
  border-radius: 2rem;
  color: white;
  background-color: black;
}
