@import url("https://fonts.googleapis.com/css2?family=Besley&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

.product-index-container {
  font-family: "Martel", serif;
  // border: thin solid black;
}

/**************************/
/* BANNER */
/**************************/

.banner {
  position: relative;
  background-color: #fdebd2;
  text-align: center;
  margin-bottom: 8rem;
}

.welcome-banner {
  position: relative;
  top: 2rem;
  font-size: 2.5rem;
}

.banner-images ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: -5rem;

  p {
    font-size: 1rem;
    margin: 0.5rem auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }

  li {
    text-align: center;
  }
}

.round-image {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

/**************************/
/* TOP PICKS */
/**************************/

.top-picks-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.top-picks-products {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.individual-pick {
  display: flex;
  justify-content: center;

  .top-picks-image {
    width: 20rem;
    height: 12rem;
  }
}

.top-picks-image-container {
  position: relative;
}

.product-price-pill {
  position: absolute;

  border-radius: 2rem;
  z-index: 1;

  background-color: white;
  bottom: 1rem;
  left: 1rem;

  padding: 5px 1.5rem 5px 10px;

  p {
    font-family: "Roboto", sans-serif;
  }
}

/**************************/
/* NATURE SECTION */
/**************************/

.nature-photography {
  font-family: "Roboto", sans-serif;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.nature-category {
  .nature-text {
    text-align: center;
  }

  .nature-landscape {
    font-size: 2rem;
  }
}

.zen {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.nature-products {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;

  div {
    display: flex;
    justify-content: center;
  }

  .top-picks-image {
    width: 20rem;
    height: 12rem;
  }
}

/**************************/
/* EDITOR PICK SECTION */
/**************************/

.editor {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.editor-pick {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  row-gap: 1rem;

  .top-picks-image {
    width: 20rem;
    height: 12rem;
  }

  div {
    display: flex;
    justify-content: center;
  }
}

.span-row-2 {
  display: none;
}
