// .banner-container {
//   width: 100%;
//   height: 100%;
// }

.banner-img {
  //   background-image: image-url("Banner2.jpg");
  background-color: #fdebd2;
  //   background-size: 100% 100%;
  height: 250px;
}

.product-img {
  background-image: image-url("Quebec.JPG");
  background-size: 100% 100%;
  border: thin solid black;
  height: 100px;
}
