@import url("https://fonts.googleapis.com/css2?family=Besley&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

@media (min-width: 64rem) {
  /**************************/
  /* BANNER */
  /**************************/

  .welcome-banner {
    font-size: 3rem;
  }

  .banner-images ul {
    li:hover {
      transform: scale(1.2);
      transition: 250ms ease-in-out;
    }
  }

  .round-image {
    height: 8rem;
    width: 8rem;
  }

  /**************************/
  /* TOP PICKS */
  /**************************/

  .top-picks-title {
    font-size: 3rem;
  }
  /**************************/
  /* NATURE SECTION */
  /**************************/

  .nature-category {
    .nature-text {
      margin-left: 2rem;
    }

    .nature-landscape {
      font-size: 2.5rem;
    }
  }

  .zen {
    // border: thick solid black;
    font-size: 1.25rem !important;
  }

  .nature-products {
    .top-picks-image {
      height: 28vh !important;
      width: 23vw !important;
    }
  }

  /**************************/
  /* EDITOR PICK SECTION */
  /**************************/

  .editor {
    margin-bottom: 2rem;
  }

  .span-row-2 {
    .top-picks-image {
      width: 30vw;
      height: 52vh;
    }
  }

  // /**************************/
  // /* PRODUCT SHOW SECTION */
  // /**************************/

  .product-page-container {
    position: relative;
    padding: 3rem 4rem 10rem 4rem;

    display: grid;
    grid-template-columns: 2fr 1fr;

    // grid-template-rows: repeat(2, 1fr);
    column-gap: 4rem;
  }

  .product-show-image {
    border-radius: 1rem;
    width: 50vw;
    height: auto;
  }

  // .margin-bottom {
  //   margin-bottom: 2rem;
  // }

  // .product-right {
  //   grid-column: 2;
  //   grid-row: 1 / 3;
  // }

  // /**************************/
  // /* RIGHT SHOW PAGE */
  // /**************************/

  // .product-title {
  //   font-size: 1.5rem;
  //   font-weight: 300;
  //   line-height: 1.25;
  // }

  // .product-quantity-container {
  //   select {
  //     font-size: 1.25rem;
  //   }
  // }

  .add-item-button:hover {
    transform: scale(1.05);
    transition: 100ms ease-in-out;
  }

  // .description-container,
  // .description,
  // .add-item-button,
  // .stock-price,
  // .stock-container,
  // .stock-check,
  // .product-seller {
  //   font-size: 1.25rem;
  // }

  .description-container:hover {
    cursor: pointer;
    border-radius: 2rem;
    background-color: lightgray;
    transition: 250ms ease-in-out;
  }

  // .show-option-container {
  //   .show-desc {
  //     font-size: 1.25rem;
  //   }
  // }

  .show-option-button:hover {
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 2rem;
    transition: 250ms ease-in-out;
  }

  /**************************/
  /* LEFT PAGE */
  /**************************/

  // .total-reviews,
  // .reviews-header {
  //   font-size: 1.5rem;
  // }

  // .reviews-list {
  //   font-size: 1.25rem;
  // }

  // .reviewers {
  //   display: grid;
  //   grid-template-columns: 10% auto;
  // }

  /**************************/
  /* REVIEW EDIT PAGE */
  /**************************/

  // .review-edit-form {
  //   h1 {
  //     font-family: "Roboto", sans-serif;
  //     margin-top: 2rem;
  //     font-size: 1.25rem;
  //   }

  //   textarea {
  //     font-family: "Roboto", sans-serif;
  //     font-size: 1.25rem;
  //   }
  // }

  /**************************/
  /* CART-ITEM SECTION */
  /**************************/

  .continue-shop {
    font-size: 1rem;
    font-weight: bold;
  }

  .cart-item-info-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 70% auto !important;
    grid-column-gap: 3rem !important;
  }

  .cart-item-container-right {
    position: relative;

    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
  }

  .cart-item-img {
    width: 28vw;
    height: 35vh;
    border-radius: 0.5rem;
  }

  .cart-item-title {
    margin-top: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
  }

  .cart-item-quantity-container {
    margin-top: 1rem;

    select {
      border-color: lightgray;
      padding: 0.5rem;
      width: 3.75rem;
      height: 3rem;
      font-size: 1rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
    }
  }

  .cart-item-total-price {
    margin-left: 1rem;
    margin-top: 1.5rem;
    display: grid;
    align-items: start;
    font-size: 1rem !important;
  }

  .remove-cart-item {
    grid-row: 2;
    position: relative;
    top: -2rem;
    left: 0.5rem;

    margin-top: 1.5rem;
    cursor: pointer;
    height: 1.5rem;
    border: thin solid white;
    font-size: 1rem;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 85px;
  }

  .remove-cart-item:hover {
    border-radius: 2rem;
    background-color: lightgray;
    transition: 250ms ease-in-out;
  }

  /**************************/
  /* RIGHT CART PAGE */
  /**************************/

  .cart-item-right {
    padding: 2rem 0;
    position: relative;
  }

  .payment-method {
    position: relative;
    right: 0;
  }

  .payment-container {
    margin-top: 0 !important;
    font-size: 1rem !important;
  }

  .payment-type {
    input {
      width: 2rem;
      height: 2rem;
    }
  }

  .credit-card-type {
    .credit-card {
      width: 2.5rem;
      height: 3rem;
    }
  }

  .checkout-button:hover {
    transform: scale(1.01);
  }
}
